.user {
    display: grid;
    background-color: var(--background-color-3);
    border-radius: var(--border-radius-global);
    grid-template-columns: auto 1fr;
    color: var(--text-color);
    gap: var(--padding-global-inside);
    padding: var(--padding-global-inside);
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.passiveLink {
    color: var(--text-color);
}

.activeLink {
    color: var(--color-active);
}

.passiveLink, .activeLink {
    text-decoration: none;
}